{% extends "layout.html" %}
{% block content %}
      <div class = "mt-5">
        <h1 class = "text-center font-weight-bold">Alternative Ways to Help</h1>
      </div>
      <div>
          <br>
          <h5 align="center">American Red Cross</h5>
          <p>Due to the cancellation of blood drives, the American Red Cross faces a severe blood shortage. Healthy individuals are needed to donate now to maintain a sufficient supply. Make <a href="https://www.redcrossblood.org/give.html">an appointment here</a> or call 1-800-RED-CROSS to find a local donation site.</p>
          <br>
          <h5 align="center">CDC Foundation</h5>
          <p>Supports the critical health protection work of the Centers for Disease Control and Prevention. It is raising emergency response funds to enable the CDC to respond to covid-19. <a href="https://give.cdcfoundation.org/give/269833/#!/donation/checkout">You can donate here.</a></p>
          <br>
          <h5 align="center">Feeding America</h5>
          <p>With a nationwide network of 200 food banks and 60,000 food pantries, donations to its covid-19 response fund will help food banks across the country support the most vulnerable communities affected by the pandemic. You can <a href="https://www.feedingamerica.org/">donate here</a> or find your <a href="https://www.feedingamerica.org/find-your-local-foodbank">local food bank here.</a></p>
          <br>
          <h5 align="center">Meals on Wheels</h5>
          <p>Delivers nutritious meals to the country’s most vulnerable seniors. Donations will replenish food supplies, subsidize additional transportation and personnel, and enable tech-based efforts to check in on isolated elderly recipients. You can contact your <a href="https://www.mealsonwheelsamerica.org/find-meals">local provider</a> or <a href="https://www.mealsonwheelsamerica.org/">donate to the national group here</a>.</p>
          <br>
          <h5 align="center">Salvation Army</h5>
          <p>Ensures people have access to food, shelter and child care through its nationwide network. Outreach includes drive-through food pickups, community-based food delivery through canteens and meals at Salvation Army facilities. It also provides snacks and hydration to first responders. <a href="https://www.salvationarmyusa.org/usn/covid19/">You can donate here.</a></p>
        </div>
{% endblock content %}