{% extends "layout.html" %}
{% block content %}
 
      <div class = "mt-5">
        <h1 class = "text-center font-weight-bold">United Pantry</h1>
      </div>

      <div class = "mt-4">
        <h2 class = "text-center">Whether you need help, or want to help, we want to be there.</h2>
      </div>

      <div class = "mt-5">
        <div class="container">
          <div class="row mt-5 justify-content-center">
              <div class="card p-3" style = "width: 20rem">
                  <h3 style = "text-align: center;">Nearby Offerings</h3>
                  <div class = "ml-4">
                        <h5 class="card-text mt-2" style = "text-align: center;">Find offerings near you catered to your need</h5>
                  </div>
                
                     <a href="/offerings" class="btn btn-dark mt-3" role="button">Find</a>
                </div>

              <div class = "ml-4">
                <div class="card p-3 " style = "width: 20rem">
                  <h3 style = "text-align: center;">Post an Offering</h3>
                  <div class = "ml-4">
                      <h5 class="card-text mt-2" style = "text-align: center;">Offer help to those in need, anything helps</h5>
                </div>
                <a href="/post" class="btn btn-dark mt-3" role="button">Post</a>
                  
              </div>
            </div>
          <div class = "mt-5">
            <div class="card p-3" style = "width: 20rem ">
              <h3 style = "text-align: center;">Filters</h3>
              <div class = "ml-4">
              <h5 class="card-text mt-2" style = "text-align: center;">Results based on your preferences</h5>
            </div>
            <a href="/filters" class="btn btn-dark mt-3" role="button">Customize</a>
              
          </div>
        </div>
        <div class = "ml-4 mt-5">
          <div class="card p-3" style = "width: 20rem">
            <h3 style = "text-align: center;">Community Help</h3>
            <div class = "ml-4">
            <h5 class="card-text mt-2" style = "text-align: center;">Alternate forms of aid to the community</h5>
          </div>
            <a href="/community" class="btn btn-dark mt-3" role="button">Help</a>
            
        </div>
        </div>
          </div>
      </div>
      </div>



{% endblock content %}

