{% extends "layout.html" %}

{% block head %}

  {{ super() }}

  {{fullmap.js}}

{% endblock %}

{% block content %}

      <div class = "mt-5">
        <h2 class = "text-center font-weight-bold mb-5">Offerings Near Me</h2>
      </div>
      
   

      <div class="card w-75 mx-auto">

        {{fullmap.html}}

        </div>



    <div class = "container mt-5">
        <table class="table mx-auto" style="width: 90%" >
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Distance</th>
                <th scope="col">Date Posted</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark Wallis</td>
                <td>2 mi</td>
                <td>07/11/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                    More
                  </button></td>
              </tr>
              <tr>
                <td>Jacob Thornton</td>
                <td>6 mi</td>
                <td>07/11/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal2">
                    More
                  </button></td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>42 mi</td>
                <td>07/3/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal3">
                    More
                  </button></td>
              </tr>
            </tbody>
          </table>
    
        </div>
 
{% endblock content %}

      

        


