{% extends "layout.html" %}

    {% block content %}
 

      <div class="card w-75 mt-4 mx-auto p-4">
        <form method="POST" action="">
          {{ form.csrf_token() }}
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Request or Post an Offering</legend>

                <div class="form-group">
                    {{ form.item.label(class="form-control-label") }}

                    {% if form.item.errors %}
                        {{ form.item(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.item.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.item(class="form-control form-control") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.explanation.label(class="form-control-label") }}

                    {% if form.explanation.errors %}
                        {{ form.explanation(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.explanation.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.explanation(class="form-control form-control", rows="3") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.radius.label(class="form-control-label") }}

                    {% if form.radius.errors %}
                        {{ form.radius(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.radius.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.radius(class="form-control form-control") }}
                    {% endif %}
                </div>

                <div class="form-group mt-4">
                    {{ form.postType.label(class="form-control-label") }}

                    {% if form.postType.errors %}
                        {{ form.postType(class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.postType.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.postType(style="list-style:none") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </form>
</div>

    {% endblock %}
