<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>

<style>
  .card-custom {
        max-width: 128px;
    }
  .mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1 !important;
}
.mt-2 {
  margin-top: 2 !important;
}
.mt-4 {
  margin-top: 4 !important;
}
.ml-5 {
  margin-left: 5 !important;
}
.mr-5 {
  margin-right: 5 !important;
}
.ml-4 {
  margin-left: 4 !important;
}
.mr-4 {
  margin-right: 4 !important;
}

</style>

<script>
  function relocate_home()
  {
       location.href = "/help";
  } 


</script>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Logo</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class = "mt-5">
        <h2 class = "text-center font-weight-bold">Offerings near me</h2>
      </div>

      <div class="row mt-5 justify-content-center">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 200px">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>
    </div>

    <div class = "ml-4 mr-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Distance</th>
                <th scope="col">Date Posted</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark Wallis</td>
                <td>2 mi</td>
                <td>07/11/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                    More
                  </button></td>
              </tr>
              <tr>
                <td>Jacob Thornton</td>
                <td>6 mi</td>
                <td>07/11/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal2">
                    More
                  </button></td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>42 mi</td>
                <td>07/3/20</td>
                <td><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal3">
                    More
                  </button></td>
              </tr>
            </tbody>
          </table>
    
        </div>


        



      </body>
      </html>