{% extends "layout.html" %}

    {% block content %}
 

      <div class = "mt-4">
        <h2 class = "text-center">Post your offering</h2>
      </div>

    <div class = "mt-4 ml-5 mr-5">
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Full Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Your Area</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Location">
          </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Number of items</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Comfortable Distance</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>5 mi</option>
            <option>10 mi</option>
            <option>20 mi</option>
            <option>50 mi</option>
            <option>100 mi</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Add description here</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>

    </div>

    {% endblock %}
