<!doctype html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>

<style>
  .card-custom {
        max-width: 128px;
    }
  .mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 1 !important;
}
.mt-2 {
  margin-top: 2 !important;
}
.mt-4 {
  margin-top: 4 !important;
}
.ml-5 {
  margin-left: 5 !important;
}
.mr-5 {
  margin-right: 5 !important;
}
</style>

<script>
  function relocate_home()
  {
       location.href = "/help";
  } 
  </script>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#">Logo</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


      <div class = "mt-5">
        <h1 class = "text-center font-weight-bold">United Pantry</h1>
      </div>

      <div class = "mt-4">
        <h2 class = "text-center">Whether you need help, or want to help, we want to be there</h2>
      </div>

      <div class = "mt-5">
        <div class="container">
          <div class="row mt-5 justify-content-center">
              <div class="card" style = "width: 30rem">
                  <h3 style = "text-align: center;">Offerings near me</h3>
                  <div class = "ml-4">
                  <h5 class="card-text" style = "text-align: center;">Find offerings near you catered to your need</h5>
                </div>
                <a href="/offerings" class="btn btn-dark" role="button">-></a>
                  
              </div>
              <div class = "ml-4">
                <div class="card" style = "width: 30rem">
                  <h3 style = "text-align: center;">Post an Offering</h3>
                  <div class = "ml-4">
                  <h5 class="card-text" style = "text-align: center;">Offer help to those in need, anything helps</h5>
                </div>
                <a href="/post" class="btn btn-dark" role="button">-></a>
                  
              </div>
          </div>
          <div class = "mt-5">
            <div class="card" style = "width: 30rem ">
              <h3 style = "text-align: center;">Filters</h3>
              <div class = "ml-4">
              <h5 class="card-text" style = "text-align: center;">Narrow down results based on your preferences</h5>
            </div>
            <a href="/filters" class="btn btn-dark" role="button">-></a>
              
          </div>
        </div>
        <div class = "ml-4 mt-5">
          <div class="card" style = "width: 30rem">
            <h3 style = "text-align: center;">Community Help</h3>
            <div class = "ml-4">
            <h5 class="card-text" style = "text-align: center;">Alternate forms of aid to the community</h5>
          </div>
            <a href="/community" class="btn btn-dark" role="button">-></a>
            
        </div>
        </div>
          </div>
      </div>
      </div>


</body>




</html>